.product-wrap{
    display: flex;
    justify-content: center;
}
.product{
    flex:400px;
    margin-left:10%;
    margin-right:5px;
    border-right:1px solid lightgray;
}
.cart{
    flex:250px;
}
@media  (max-width:700px) {

}