*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

.Header{
    text-align: center;
    width:100%;
}
.Header img{
    height:80px;
    margin-bottom:20px;
}
.Header ul{
    padding:0% 10%;
    list-style: none;
    text-align: left;
    background: #000;
}
.Header ul li{
    display:inline-block;
    margin-right:15px;
}
.Header ul li a{
    color:#fff;
    font-size: 20px;
    line-height: 39px;
    padding:6px;
    transition:.2s ease;
}
.Header ul li a:hover{
    background:#ddd;
}